<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Done</title>
</head>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<body>

<table>

    <tr>
        <th>ID</th>
        <th>Product</th>
        <th>ScheduledDate</th>
        <th>IsDone</th>
        <th>IsInProduction</th>
    </tr>
    {% for d in Done %}
    <tr>
        <td>{{ d.Id }}</td>
        <td>{{ d.Product}}</td>
        <td>{{ d.ScheduledDate }}</td>
        <td>{{ d.IsDone }}</td>
        <td>{{ d.IsInProduction }}</td>

    </tr>
    {% endfor %}
</table>


</body>
</html>