<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservations</title>
</head>
<style>
    /*table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: auto;
    }
    .item {
        height: 400px;
        width: 300px;
        background-color: purple;
        !* padding: 10px; *!
        margin: 10px;
    }

    .item-title {
        height: 49px;
        font-size: 13px;
        width: 100%;
        color: white;
        margin-top: -17px;
        background-color: aquamarine;
    }

    .item-content {
        height: 300px;
        font-size: 13px;
        width: 100%;
        color: white;
        margin-top: -17px;
        background-color: grey;
    }

    .item-actions {
        height: 49px;
        font-size: 13px;
        width: 100%;
        color: white;
        margin-top: -17px;
        background-color: aquamarine;
    }*/
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: auto;
        float: left;
    }
    .item {
        height: 400px;
        width: 300px;
        background-color: purple;
        /* padding: 10px; */
        margin: 10px;
    }

    .item-title {
        height: 81px;
        font-size: 13px;
        width: 100%;
        color: white;
        margin-top: -17px;
        background-color: #c54343;
        display: flex;
        justify-content: space-between;
    }

    .item-content {
        height: 300px;
        font-size: 13px;
        width: 100%;
        color: white;
        margin-top: -17px;
        background-color: grey;
    }

    .item-actions {
        height: 49px;
        font-size: 13px;
        width: 100%;
        color: white;
        background-color: aquamarine;
        display: flex;
        justify-content: flex-end;
    }




</style>
<body>

{#<table>

    <tr>
        <th>Id</th>
        <th>Product</th>
        <th>IsDone</th>
        <th>IsInProduction</th>
    </tr>
    {% for rp in Reservations %}
        <tr>
            <td>{{ rp.Id }}</td>
            <td>{{ rp.Product }}</td>
            <td>{{ rp.IsDone }}</td>
            <td>{{ rp.IsInProduction }}</td>
        </tr>
    {% endfor %}

</table>#}

{#<div class="container">
{% for r in Reservations %}

    <div class="item">
        <div class="item-title">
            <h1>{{ r.Product}}</h1>
        </div>
        <div class="item-content">
            <br>
            <td>
                <form action="http://localhost:8080/PHPProjects/Hovedopgave/Controller/moveresevation.php" method="POST">
                    <input type="hidden" value="{{r.Id}}" name="Id" />
                    <input type="submit" value="To Production" name="MoveKnap" />
                </form>
                <br>
                <a href="#popup3">
                    <form action="">
                        <input type="button" value="Edit" name="EditKnap" />
                    </form>
                </a>
                <br>
                <form action="http://localhost:8080/PHPProjects/Hovedopgave/Controller/deletereservation.php" method="POST">
                    <input type="hidden" value="{{r.Id}}" name="Id" />
                    <input type="submit" value="Delete" name="SletKnap" />
                </form>
            </td>
        </div>
        <div class="item-actions">
            <h1>{{ r.Id }}</h1><h1>{{ r.IsDone }}</h1>
        </div>
    </div>


{% endfor %}
</div>#}

<div class="container">
    {% for r in Reservations %}
    <div class="item">
        <div class="item-title">
            <span class="text"><h1>{{ r.Product}}</h1></span>

            <form action="http://localhost:8080/PHPProjects/Hovedopgave/Controller/moveresevation.php" method="POST">
                <input type="hidden" value="{{r.Id}}" name="Id" />
                <span class="text2"><button name="MoveKnap" type="submit">TO PRODUCTION</button></span>
                {#<input type="submit" value="To Production" name="MoveKnap" />#}
            </form>
        </div>
        <div class="item-content">
            {#<form action="http://localhost:8080/PHPProjects/Hovedopgave/Controller/moveresevation.php" method="POST">
                <input type="hidden" value="{{r.Id}}" name="Id" />
                <input type="submit" value="To Production" name="MoveKnap" />
            </form>#}
            <h1>{{ r.ScheduledDate }}</h1>
            <p>{{ r.Id }}</p>
        </div>
        <div class="item-actions">
            <a href="#popup3">
                <form action="">
                    <input type="button" value="Edit" name="EditKnap" />
                </form>
            </a>
            <br>
            <form action="http://localhost:8080/PHPProjects/Hovedopgave/Controller/deletereservation.php" method="POST">
                <input type="hidden" value="{{r.Id}}" name="Id" />
                <input type="submit" value="Delete" name="SletKnap" />
            </form>
        </div>
    </div>
    {% endfor %}
</div>


<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight){
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>
</body>
</html>