<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservations</title>
</head>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: auto;
    }
    .item {
        height: 400px;
        width: 300px;
        background-color: purple;
        /* padding: 10px; */
        margin: 10px;
    }

    .item-title {
        height: 49px;
        font-size: 13px;
        width: 100%;
        color: white;
        margin-top: -17px;
        background-color: aquamarine;
    }

    .item-content {
        height: 300px;
        font-size: 13px;
        width: 100%;
        color: white;
        margin-top: -17px;
        background-color: grey;
    }

    .item-actions {
        height: 49px;
        font-size: 13px;
        width: 100%;
        color: white;
        margin-top: -17px;
        background-color: aquamarine;
    }

</style>
<body>

{#<table>

    <tr>
        <th>Id</th>
        <th>Product</th>
        <th>IsDone</th>
        <th>IsInProduction</th>
    </tr>
    {% for rp in Reservations %}
        <tr>
            <td>{{ rp.Id }}</td>
            <td>{{ rp.Product }}</td>
            <td>{{ rp.IsDone }}</td>
            <td>{{ rp.IsInProduction }}</td>
        </tr>
    {% endfor %}

</table>#}

<div class="container">
{% for r in Reservations %}

    <div class="item">
        <div class="item-title">
            <h1>{{ r.Product}}</h1>
        </div>
        <div class="item-content">
            <br>
            <td>
                <form action="http://localhost:8080/PHPProjects/Hovedopgave/Controller/moveresevation.php" method="POST">
                    <input type="hidden" value="{{r.Id}}" name="Id" />
                    <input type="submit" value="To Production" name="MoveKnap" />
                </form>
                <br>
                <a href="#popup3">
                    <form action="">
                        <input type="button" value="Edit" name="EditKnap" />
                    </form>
                </a>
            </td>
        </div>
        <div class="item-actions">
            <h1>{{ r.Id }}</h1><h1>{{ r.IsDone }}</h1>
        </div>
    </div>


{% endfor %}
</div>
</body>
</html>