<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alle Komponenter</title>
</head>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<body>

<table>

    <tr>
        <th>ID</th>
        <th>Component</th>
        <th>Specifications</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Link</th>
        <th>Note</th>
        <th>Estimated Delivery</th>
        <th>Available</th>
        <th>Reserved</th>
        <th>Available w. Reserved</th>
        <th>Actions</th>
    </tr>
    {% for c in Components %}
    <tr>
        <td>{{ c.Id }}</td>
        <td>{{ c.Title}}</td>
        <td>{{ c.Specification }}</td>
        <td>{{ c.Price }}</td>
        <td>{{ c.Quantity}}</td>
        <td>{{ c.Link }}</td>
        <td>{{ c.Note}}</td>
        <td>{{ c.EstDelivery }}</td>
        <td>{{ c.Available }}</td>
        <td>{{ c.Reserved }}</td>
        <td>{{ c.AvailableReserved }}</td>
        <td>
            <form action="http://localhost:8080/PHPProjects/Hovedopgave/Controller/deletekomponent.php" method="POST">
                <input type="hidden" value="{{c.Id}}" name="Id" />
                <input type="submit" value="Delete" name="SletKnap" />
            </form>
            <a href="#popup2">
            <form action="">
                <input type="hidden" value="{{c.Id}}" name="Id" />
                <input type="button" value="Edit" name="EditKnap" />
            </form>
            </a>
        </td>

    </tr>

    {% endfor %}

</table>


<div id="popup2" class="overlay">
    <div class="popup">
        <div class="login-overskrift">
            <div class="log-intitle-filler"></div>
            <div class="log-intitle"><b>Edit Component<b></div>
        </div>

        <form class="forming" action="../Controller/updatekomponent.php" method="POST">
            Id: <input type="number" value="" placeholder="Insert ID" name="Id" />
            Title: <input type="text" value="" placeholder="Insert Text" name="Title" />
            Specification: <input type="text" step="0.01" value="" placeholder="Insert Text" name="Specification" />
            Price: <input type="number" value="" placeholder="Insert Number" name="Price" />
            Link: <input type="text" value="" placeholder="Insert Link" name="Link" />
            Note: <input type="text" value="" placeholder="Insert Text" name="Note" />
            EstDelivery: <input type="number" value="" placeholder="Insert Amount of days" name="EstDelivery" />
            Quantity: <input type="number" value="" placeholder="Insert Number" name="Quantity" />
            Available: <input type="number" value="" placeholder="Insert Number" name="Available" />
            Send: <input type="submit" value="Edit" name="EditKnap" />
        </form>
        <a class="close" href="#">&times;</a>
    </div>
</div>
</body>
</html>